<footer class="bg-[#0F172A] text-gray-400 fixed bottom-0 w-full">
	<div class="container mx-auto py-8 px-4">
		<div class="flex flex-col md:flex-row justify-between items-center">
			<div class="text-center md:text-left mb-6 md:mb-0">
				<p class="text-xl font-semibold text-white">MyWatchGuide</p>
				<p class="text-sm">Suivez ce que vous regardez !</p>
			</div>
			<nav class="flex space-x-8">
				<a href="/privacy" class="hover:text-gray-300 transition duration-300 text-sm font-medium">Politique de confidentialité</a>
				<a href="/terms" class="hover:text-gray-300 transition duration-300 text-sm font-medium">Conditions d'utilisation</a>
				<a href="/contact" class="hover:text-gray-300 transition duration-300 text-sm font-medium">Contact</a>
			</nav>
		</div>
		<div class="text-center mt-6 text-sm text-gray-400">
			&copy;
			{{ "now"|date("Y") }}
			<span class="text-white">MyWatchGuide</span>. Tous droits réservés.
		</div>
	</div>
</footer>
